body {
    font-family: "Playfair Display", serif;
    background: #12101D;
}
header {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url("../images/billie-jean.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: beige;
    text-align: center;
    padding: 190px 0;
}

header h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    margin: 20px 0;
}
header h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
    margin: 0;
}
header h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0;
}
header a {
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    color: whitesmoke;
    margin: 20px;
    background-color: blueviolet;
    text-decoration: none;
    padding: 16px 32px;
    display: inline-block;
    border-radius: 10px;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

section h2,h3, p {
    color: white;
}
main h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
}
main h3 {
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 5px;
    opacity: 0.6;
}
main p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}
footer {
    color: white;
    background-image: linear-gradient(rgba(2,4,3,0.9),rgba(2,4,3,0.9)),
    url("../images/white-shirt-hat.png");
    background-repeat: no-repeat;
    background-size: cover;
}

footer h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 31.99px;
    
}
footer p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.9;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer a {
    color: #FFFFFF;
    opacity: 0.7;
    text-decoration: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.grid {
    display: grid;
    gap: 64px;
}

.grid-2-columns {
    grid-template-columns: 1fr 1fr;
}
.grid-3-columns-with-first-narrow {
     grid-template-columns: 1fr 2fr 2fr;
}

.img-responsive {
    max-width: 100%;
}

@media (max-width: 800px) {
    header {
        padding: 60px 0;
    }
    header h1 {
        font-size: 48px;
    }
    header h2 {
        font-size: 15px;
    }
    header h3 {
        font-size: 9px;
    }

    .grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    
    section {
        padding: 30px;
    }
}
    
